/* FONTS */
@import "fonts.css";

:root {
  /*color*/
  --blue: #3f2aff;
  --white: #fff;
  --gray: #b6b6b6;
  --dark_gray: #333;
  /*background*/
  --bkg_black: #070217;
  --bkg_white: #f3f3f3;
  --bkg_body: #e5e5e5;

}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Verdana, 'Roboto', sans-serif;
}

/*-------------------Index-----------------*/
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: var(--white);
  background-color: var(--bkg_black);
}

.logo {
  margin-bottom: 50px;
  display: block;
}

.main-content__wrp {
  margin-bottom: 50px;
}

.main-content__link {
  display: inline-block;
  padding: 24px 49px;
  background-color: var(--blue);
}

.main-content__download {
  padding-left: 30px;
}

.download-icon {
  color: var(--blue);
  background: url("../img/download.png") no-repeat left center;
}

.main-content__download,
.main-content__link {
  font-weight: 700;
  font-size: 18px;

}

.main-content__link:not(:last-child) {
  margin-right: 25px;
}

/*------------------article---------------------*/

.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

.title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: var(--dark_gray);
}

.title-h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  color: var(--dark_gray);
}

.title-h3 {
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: var(--dark_gray);
}

.title-h2, .title-h3 {
  margin: 0;
  margin-bottom: 10px;
}

.paragraph {
  margin: 0;
  margin-bottom: 40px;
  width: 872px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: var(--dark_gray);
}

.paragraph-color {
  border-radius: 20px;
  padding: 50px 95px;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  color: var(--white);
  background-color: var(--blue);
}

.gray-content__bkg {
  background: url("../img/decorate-1.png") no-repeat right center / contain;
}

.gray-total__bkg {
  background: url("../img/decorate-2.png") no-repeat right center / contain;
}

.gray {
  background-color: var(--bkg_white);
  padding: 30px;
  border-radius: 20px;
}

.gray:not(:last-child) {
  margin-bottom: 40px;
}

.gray .paragraph {
  width: 692px;
  margin-bottom: 10px;
}

.content__list {
  padding-left: 15px;
}

.content__item-link {
  border-bottom: 1px solid var(--blue);
  font-size: 20px;
  color: var(--blue);
}

.content__item:not(:last-child) {
  margin-bottom: 20px;
}

::marker {
  color: var(--blue);
}

.img {
  margin-bottom: 40px;
}

.figure {
  display: inline-block;
  margin-bottom: 40px;
  width: 872px;
  font-size: 0;
}

.figcaption {
  border: 1px solid var(--gray);
  border-top: none;
  padding: 19px 0;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

/*------------------Modules-----------------*/
.modules__body {
  background-color: var(--bkg_body);
}

.modules {
  padding: 50px 0;
}

.modules__logo {
  display: block;
  margin-bottom: 25px;
}

.modules__back-link {
  background-image: url("../img/Arrow.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 45px 10px;
  display: inline-block;
  margin-bottom: 25px;
  color: var(--blue);
  padding-left: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.modules__title {
  margin: 0;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 69px;
  color: var(--blue);
}

.card__wrapper {
  list-style: none;
  padding: 0;
  padding-bottom: 50px;
  font-size: 0;
}

.card__wrp {
  display: inline-block;
  width: 572px;
  height: 505px;
  vertical-align: top;
  background-color: var(--bkg_white);
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.1));
}

.card__wrp:nth-child(2n) {
  margin-left: 25px;
}

/* реализовал как смог :-) */
.card__wrp:first-child,
.card__wrp:nth-child(2) {
  margin-bottom: 25px;
}
/*------------------------*/
.card__bkg {
  height: 180px;
}

.card__image-1 {
  background: url("../img/m1.jpg") no-repeat center center/contain;
}

.card__image-2 {
  background: url("../img/m2.jpg") no-repeat center center/contain;
}

.card__image-3 {
  background: url("../img/m3.jpg") no-repeat center center/contain;
}

.card__image-4 {
  background: url("../img/m4.jpg") no-repeat center center/contain;
}

.card__inner {
  position: relative;
  padding: 25px;
  height: 275px;
}

.card__title-h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 2px;
  color: var(--blue);
}

.card__list {
  list-style: none;
  padding: 0;
}

.card__item {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 165%;
  color: var(--dark_gray);
}

.card-pagination {
  position: absolute;
  right: 25px;
  bottom: 25px;
}

.card__btn {
  display: block;
  margin: 0 auto;
  border: 2px solid var(--blue);
  padding: 24px 75px;
  color: var(--blue);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
